.quicksand {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.banner {
    background-color: lightcyan;
}
nav {
    max-width: 1159px;
    margin:0 auto;
}
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position:relative;
    padding: 12px 20px;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width:3.8rem;
}
.school {
    color: rgb(17, 17, 17);
font-size: 2rem;
font-weight: 700;
line-height: 1.8rem;
letter-spacing: 0%;
}
.menu {
    display: flex;
    align-items: center;
}
.menu li {
padding-left: 30px;
}
.menu li a{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
}
.a-1 {
    color: rgb(254, 163, 1);
font-size: 1.25rem;
font-weight: 700;
line-height: 1.8rem;
letter-spacing: 0%;
}
.a-2 {
    color: rgb(1, 172, 253);
font-size: 1.25rem;
font-weight: 500;
line-height: 1.8rem;
letter-spacing: 0%;
}
.a-3 {
    color: rgb(5, 212, 223);
font-size: 1.25rem;
font-weight: 500;
line-height: 1.8rem;
letter-spacing: 0%;
}
.a-4 {
    color: rgb(93, 88, 239);
font-size: 1.25rem;
font-weight: 500;
line-height: 1.8rem;
letter-spacing: 0%;
}
#contact{
    border-radius: 12px;
background: rgb(254, 163, 1);
padding:10px;
margin-right: 40px;
margin-left:300px;
}
.a-5 {
    color: rgb(255, 255, 255);
font-size: 1.25rem;
font-weight: 600;
line-height: 1.8rem;
letter-spacing: 0%;
}
.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height:1px;
    background-color: brown;
    transition: 0.15s ease-in-out;
}
.menu li a:hover:after {
    width:100%;
}
.open-menu, .close-menu {
    position:absolute;
    cursor:pointer;
    font-size:1.5rem;
    right: 40px;
    top:30%;
    display:none;
}
#check {
    display: none;
}

/* Banner style ---- */
.banner-main {
    max-width: 1159px;
    margin:0 auto;
    display:flex;
    align-items: center;
}
.container{
    max-width:640px;
}
.banner-head {
font-size: 3.5rem;
font-weight: 700;
line-height: 6.8rem;
letter-spacing: 0%;
}
.vision-1 {
    color: rgb(254, 163, 1);
}
.vision-2 {
    color: rgb(17, 17, 17);
}
.vision-3 {
    color: rgb(1, 172, 253);
}
.banner-description {
color: rgb(17, 17, 17);
font-size: 1.25rem;
font-weight: 400;
line-height: 1.56rem;
letter-spacing: 0%;
}

/* shared style */
.btn {
    color: rgb(255, 255, 255);
font-size: 1.25rem;
font-weight: 700;
line-height: 1.87rem;
letter-spacing: 0%;
padding: 10px 20px;
border-radius: 12px;
background: rgb(17, 17, 17);
margin-top: 34px;
}
.mar {
    margin-top: 30px;
    border: 2px solid yellowgreen;
    color: rgb(254, 163, 1);
font-size: 1.25rem;
font-weight: 700;
line-height: 1.8rem;
letter-spacing: 0%;
}

@media screen and (max-width:576px) {
    .banner {
        background: none;
    }
    nav {
        border-bottom: 0.5px solid rgb(254, 163, 1);
    }
    .menu {
        flex-direction: column;
        justify-content: center;
        width: 80%;
        height:80vh;
        position: fixed;
        top:0;
        right:100%;
        z-index: 100;
        background-color: lightgrey;
        transition: all 0.2s ease-in-out;
    }
    .menu li {
        margin-top: 40px;
    }
    .menu li a {
        padding:10px;
    }
    .open-menu, .close-menu {
        display: block;
    }
    #check:checked ~ .menu{
        right: 0;
    }
    #contact{
        margin:auto;
        border-radius: none;
        background: none;
    }
    .a-5{
        color: green;
    }
    .school {
        display: none;
    }
    .banner-main {
        flex-direction: column-reverse;
    }
    .container {
        text-align: center;
    }
}